Package: com.junesiphone.hideactions
Name: hideactions
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide Action Buttons iOS11
Maintainer: JunesiPhone
Author: JunesiPhone
Section: Tweaks
